<!DOCTYPE html>
<html>
<head>
    <title>Exemplos de Voos</title>
    <link rel="stylesheet" href="assets/css/voo.css"></head>
     <!--=============== ChatBot ===============-->
     <link rel="stylesheet" href="ChatBot/static/css/chat.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image: url(assets/img/voo.jpg);">

    <div class="navbar">
        <ul>
            <li><a href="index.html">TriPlanner</a></li>
        </ul>
        <div>
            <a href="profile.html">Perfil</a>
            <a href="login.html">Log out</a>
        </div>
    </div>
    
    <h3>Com base nos seus critérios temos disponíveis os seguintes voos:</h3>
    <div class="container">
        <div class="flight">
            <div class="title">Voo 1</div>
            <div class="details">
                <div class="item">
                    <p class="label">Origem</p>
                    <p class="value">Porto</p>
                </div>
                <div class="item">
                    <p class="label">Destino</p>
                    <p class="value">Lisboa</p>
                </div>
                <div class="item">
                    <p class="label">Partida</p>
                    <p class="value">10:00</p>
                </div>
                <div class="item">
                    <p class="label">Chegada</p>
                    <p class="value">12:00</p>
                </div>
                <div class="item">
                    <p class="label">Duração</p>
                    <p class="value">2 horas</p>
                </div>
                <div class="item">
                    <p class="label">Companhia:</p>
                    <p class="value">TAP</p>
                </div>
            </div>
            <button onclick="location.href='hotel.html'" class="reserve-button">Reservar</button>
        </div>
        
        <div class="flight">
            <div class="title">Voo 2</div>
            <div class="details">
                <div class="item">
                    <p class="label">Origem</p>
                    <p class="value">Porto</p>
                </div>
                <div class="item">
                    <p class="label">Destino</p>
                    <p class="value">Lisboa</p>
                </div>
                <div class="item">
                    <p class="label">Partida</p>
                    <p class="value">14:00</p>
                </div>
                <div class="item">
                    <p class="label">Chegada</p>
                    <p class="value">16:00</p>
                </div>
                <div class="item">
                    <p class="label">Duração</p>
                    <p class="value">2 horas</p>
                </div>
                <div class="item">
                    <p class="label">Companhia:</p>
                    <p class="value">Ryanair</p>
                </div>
            </div>
            <button onclick="location.href='hotel.html'" class="reserve-button">Reservar</button>
        </div>
        <div class="flight">
            <div class="title">Voo 3</div>
            <div class="details">
                <div class="item">
                    <p class="label">Origem</p>
                    <p class="value">Porto</p>
                </div>
                <div class="item">
                    <p class="label">Destino</p>
                    <p class="value">Lisboa</p>
                </div>
                <div class="item">
                    <p class="label">Partida</p>
                    <p class="value">18:30</p>
                </div>
                <div class="item">
                    <p class="label">Chegada</p>
                    <p class="value">21:30</p>
                </div>
                <div class="item">
                    <p class="label">Duração</p>
                    <p class="value">3 horas</p>
                </div>
                <div class="item">
                    <p class="label">Companhia:</p>
                    <p class="value">EasyJet Airlines</p>
                </div>
            </div>
            <button onclick="location.href='hotel.html'" class="reserve-button">Reservar</button>
        </div>
    </div>

    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">ChatBot!
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                    onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="ChatBot/static/scripts/responses.js"></script>
    <script src="ChatBot/static/scripts/chat.js"></script>
</html>